* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 156px;
    /* width: 1440px; */
    width: auto;
    height: 696px;
    justify-content: center;
}

.gallery li {
    flex-grow: 0;
    /* flex-basis: calc(33.33% - 16px); */
    width: 360px;
    height: auto;
    flex-shrink: 0;
}

.gallery img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
.gallery img:hover {
    transform: scale(1.05);
}