* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: auto;
  height: 696px;
  justify-content: center;
}

.gallery li {
  flex-basis: calc(33.3333% - 24px);
}

.gallery img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}
.gallery img:hover {
  transform: scale(1.05);
}
